In [1]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1     Geologi     38     perempuan   12D
1         2  Matematika     21     perempuan   12C
2         3     Biologi     28     laki-laki   12B
3         4       Kimia     95     perempuan   12D
4         5     Biologi     49     laki-laki   12C

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [2]:
# Soal 1.1
print(df.iloc[:,[2,4]])

    nilai kelas
0      38   12D
1      21   12C
2      28   12B
3      95   12D
4      49   12C
5      97   12C
6      52   12C
7      64   12C
8      64   12B
9      65   12C
10     57   12D
11     82   12D
12     41   12B
13     82   12A
14     61   12C
15     48   12A
16     82   12A
17     22   12A
18     15   12A
19     68   12C

In [3]:
# Soal 1.2
print(df.iloc[5:11,[1,2]])

   pelajaran  nilai
5    Ekonomi     97
6      Kimia     52
7      Kimia     64
8     Fisika     64
9     Fisika     65
10   Geologi     57

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [4]:
# Soal 2.1
ekonomi = df.pelajaran == 'Ekonomi'
fisika =  df.pelajaran == 'Fisika'
print((ekonomi) & (fisika))

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: pelajaran, dtype: bool

In [5]:
# Soal 2.2
nilai = df.nilai > 50
kimia =  df.pelajaran == 'Kimia'
print((nilai) & (kimia))

0     False
1     False
2     False
3      True
4     False
5     False
6      True
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [6]:
# Soal 2.3
nilai = df.nilai > 70
kimia =  df['jenis-kelamin'] == 'Perempuan'
kimia =  df.kelas == '12C'
print((nilai) & (kimia))

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [7]:
# code here
x = df.nilai
y = x - x.min()
z = x.max() - x.min()
print(y/z)

0     0.280488
1     0.073171
2     0.158537
3     0.975610
4     0.414634
5     1.000000
6     0.451220
7     0.597561
8     0.597561
9     0.609756
10    0.512195
11    0.817073
12    0.317073
13    0.817073
14    0.560976
15    0.402439
16    0.817073
17    0.085366
18    0.000000
19    0.646341
Name: nilai, dtype: float64